/* line 1, ../scss/style.scss */
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

/* line 9, ../scss/style.scss */
html {
  height: 100%;
}

/* line 12, ../scss/style.scss */
body {
  background: url(../images/apples_bw.jpg) repeat center top;
  min-width: 320px;
  position: relative;
  height: 100%;
}

/* line 19, ../scss/style.scss */
input, textarea {
  color: #444;
  font: 14px Helvetica,Arial,sans-serif;
}

/* line 23, ../scss/style.scss */
.content {
  background: url(../images/cdrquincy2.jpg) no-repeat center -80px #080808;
  background-size: 1024px auto;
  opacity: 0.8;
  max-width: 840px;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
  min-height: 100%;
  margin: 0 auto;
}
/* line 31, ../scss/style.scss */
.content .nav {
  text-align: right;
  padding-top: 20px;
  margin-right: 20px;
}
/* line 35, ../scss/style.scss */
.content .nav li {
  list-style: none;
}
/* line 37, ../scss/style.scss */
.content .nav li a {
  font-family: 'Cinzel', serif;
  text-decoration: none;
  margin-left: 20px;
}
/* line 44, ../scss/style.scss */
.content h1, .content h2 {
  display: none;
}
/* line 47, ../scss/style.scss */
.content .text {
  margin-top: 300px;
}
/* line 50, ../scss/style.scss */
.content p {
  margin: 30px auto;
  max-width: 540px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
}
/* line 56, ../scss/style.scss */
.content p a {
  font-size: 24px;
}

/* line 61, ../scss/style.scss */
.contact {
  width: 650px;
  margin: 20px auto;
}
/* line 64, ../scss/style.scss */
.contact input {
  margin-bottom: 12px;
}

/* line 68, ../scss/style.scss */
label, input, textarea {
  width: 100%;
}

/* line 72, ../scss/style.scss */
input[type="text"],
textarea {
  padding: 4px 0;
  text-indent: 2%;
}

/* line 76, ../scss/style.scss */
input.button {
  background: #fff;
  border: none;
  margin: 20px 0;
  padding: 5px 10px;
  width: auto;
}

/* line 85, ../scss/style.scss */
.logos a {
  display: inline-block;
  margin: 2px;
}
/* line 89, ../scss/style.scss */
.logos p {
  text-align: center;
  margin: 40px auto;
}
/* line 93, ../scss/style.scss */
.logos .row1 {
  text-align: center;
  margin: 0 auto;
}
/* line 96, ../scss/style.scss */
.logos .row1 img {
  height: 103px;
}
/* line 100, ../scss/style.scss */
.logos .row2 {
  text-align: center;
  margin: 0 auto;
}
/* line 103, ../scss/style.scss */
.logos .row2 img {
  height: 70px;
}

@media screen and (max-width: 840px) {
  /* line 111, ../scss/style.scss */
  .content p {
    font-size: 16px;
    max-width: 468px;
  }
  /* line 115, ../scss/style.scss */
  .content .contact {
    width: 560px;
  }
  /* line 120, ../scss/style.scss */
  .content .logos .row1 img {
    height: 88px;
  }
  /* line 125, ../scss/style.scss */
  .content .logos .row2 img {
    height: 60px;
  }
}
@media screen and (max-width: 640px) {
  /* line 133, ../scss/style.scss */
  .content {
    background-size: 840px auto;
    background-position: center -100px;
    padding-top: 200px;
  }
  /* line 137, ../scss/style.scss */
  .content .contact {
    width: 520px;
  }
  /* line 142, ../scss/style.scss */
  .content .logos .row1 img {
    height: 81px;
  }
  /* line 147, ../scss/style.scss */
  .content .logos .row2 img {
    height: 56px;
  }
}
@media screen and (max-width: 560px) {
  /* line 155, ../scss/style.scss */
  .content {
    background-size: 680px auto;
    background-position: center -80px;
    padding-top: 160px;
  }
  /* line 159, ../scss/style.scss */
  .content p {
    font-size: 16px;
    max-width: 400px;
  }
  /* line 163, ../scss/style.scss */
  .content .contact {
    width: 360px;
  }
  /* line 167, ../scss/style.scss */
  .content .logos .row1, .content .logos .row2 {
    width: 360px;
  }
}
@media screen and (max-width: 400px) {
  /* line 174, ../scss/style.scss */
  .content {
    background-size: 540px auto;
    background-position: center -60px;
    padding-top: 120px;
  }
  /* line 178, ../scss/style.scss */
  .content p {
    font-size: 14px;
    max-width: 300px;
  }
  /* line 182, ../scss/style.scss */
  .content .contact {
    max-width: 300px;
  }
  /* line 186, ../scss/style.scss */
  .content .logos .row1 {
    width: 300px;
  }
  /* line 188, ../scss/style.scss */
  .content .logos .row1 img {
    height: 75px;
  }
  /* line 192, ../scss/style.scss */
  .content .logos .row2 {
    width: 300px;
  }
  /* line 194, ../scss/style.scss */
  .content .logos .row2 img {
    height: 50px;
  }
}
